In [8]:
from collections import defaultdict
import numpy as np

In [4]:
word_ls=['원숭이','바나나','사과','코끼리']

In [9]:
word2id_dic=defaultdict(lambda:len(word2id_dic))

#{단어:인덱스} 사전구축
for word in word_ls:
    word2id_dic[word]

#    
n_unique_words=len(word2id_dic)
    
#원핫벡터를 만들기 위해 비어있는 벡터 생성
one_hot_vectors=np.zeros((len(word_ls),n_unique_words))

#단어고유 인덱스
for i,word in enumerate(word_ls):
    index=word2id_dic[word]
    one_hot_vectors[i,index]+=1
one_hot_vectors

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

# sklearn

In [15]:
from numpy import array
from numpy import argmax
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

#예제 데이터 배열
values=array(word_ls)

#문자열에 숫자를 붙임
label_enc=LabelEncoder()
int_enc=label_enc.fit_transform(values)

#binary encode
onehot_enc=OneHotEncoder(sparse=False)
int_enc=int_enc.reshape(len(int_enc),1) #n:1 matrix로 변환
onehot_enc=onehot_enc.fit_transform(int_enc)
onehot_enc

array([[0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.]])

In [16]:
values #리스트가 행렬로 변환됨

array(['원숭이', '바나나', '사과', '코끼리'], dtype='<U3')

## Bow 직접구현

In [16]:
docs=['오늘 동물원에서 코끼리 원숭이를 보고 코끼리 원숭이에게 먹이를 줬어',
     '오늘 동물원에서 원숭이에게 사과를 줬어']

In [17]:
doc_ls=[]
for doc in docs:
    doc_ls.append(doc.split(' '))
doc_ls

[['오늘', '동물원에서', '코끼리', '원숭이를', '보고', '코끼리', '원숭이에게', '먹이를', '줬어'],
 ['오늘', '동물원에서', '원숭이에게', '사과를', '줬어']]

In [21]:
word2id=defaultdict(lambda:len(word2id))

for doc in doc_ls:
    for token in doc:
        word2id[token]
word2id

defaultdict(<function __main__.<lambda>()>,
            {'오늘': 0,
             '동물원에서': 1,
             '코끼리': 2,
             '원숭이를': 3,
             '보고': 4,
             '원숭이에게': 5,
             '먹이를': 6,
             '줬어': 7,
             '사과를': 8})

In [22]:
import numpy as np
BoW_ls=[]
for i, doc in enumerate(doc_ls):
    bow=np.zeros(len(word2id),dtype=int)
    for token in doc:
        bow[word2id[token]]+=1
    BoW_ls.append(bow.tolist())
    
BoW_ls

[[1, 1, 2, 1, 1, 1, 1, 1, 0], [1, 1, 0, 0, 0, 1, 0, 1, 1]]

In [23]:
word2id

defaultdict(<function __main__.<lambda>()>,
            {'오늘': 0,
             '동물원에서': 1,
             '코끼리': 2,
             '원숭이를': 3,
             '보고': 4,
             '원숭이에게': 5,
             '먹이를': 6,
             '줬어': 7,
             '사과를': 8})

In [26]:
from IPython.core import display as ICD
import pandas as pd
sorted_vocab=sorted((value,key) for key, value in word2id.items())
print('sorted_vovab',sorted_vocab)

vocab=[]
for v in sorted_vocab:
    vocab.append(v[1])
print('vocab',vocab)

for i in range(len(docs)):
    print('문서{}:{}'.format(i,docs[i]))
    ICD.display(pd.DataFrame([BoW_ls[i]],columns=vocab))
    print('\n\n')

c:\users\user\anaconda3\envs\jiwoo3.7\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

sorted_vovab [(0, '오늘'), (1, '동물원에서'), (2, '코끼리'), (3, '원숭이를'), (4, '보고'), (5, '원숭이에게'), (6, '먹이를'), (7, '줬어'), (8, '사과를')]
vocab ['오늘', '동물원에서', '코끼리', '원숭이를', '보고', '원숭이에게', '먹이를', '줬어', '사과를']
문서0:오늘 동물원에서 코끼리 원숭이를 보고 코끼리 원숭이에게 먹이를 줬어

   오늘  동물원에서  코끼리  원숭이를  보고  원숭이에게  먹이를  줬어  사과를
0   1      1    2     1   1      1    1   1    0

문서1:오늘 동물원에서 원숭이에게 사과를 줬어

   오늘  동물원에서  코끼리  원숭이를  보고  원숭이에게  먹이를  줬어  사과를
0   1      1    0     0   0      1    0   1    1

In [27]:
docs=['나는 양념 치킨을 좋아해 하지만 후라이드 치킨을 싫어해',
     '나는 후라이드 치킨을 좋아해 하지만 양념 치킨을 싫어해']

In [28]:
doc_ls=[]
for doc in docs:
    doc_ls.append(doc.split())
doc_ls

[['나는', '양념', '치킨을', '좋아해', '하지만', '후라이드', '치킨을', '싫어해'],
 ['나는', '후라이드', '치킨을', '좋아해', '하지만', '양념', '치킨을', '싫어해']]

In [29]:
word2id=defaultdict(lambda:len(word2id))

for doc in doc_ls:
    for token in doc:
        word2id[token]
word2id

defaultdict(<function __main__.<lambda>()>,
            {'나는': 0,
             '양념': 1,
             '치킨을': 2,
             '좋아해': 3,
             '하지만': 4,
             '후라이드': 5,
             '싫어해': 6})

In [30]:
import numpy as np
BoW_ls=[]
for i, doc in enumerate(doc_ls):
    bow=np.zeros(len(word2id),dtype=int)
    for token in doc:
        bow[word2id[token]]+=1
    BoW_ls.append(bow.tolist())
    
BoW_ls

[[1, 1, 2, 1, 1, 1, 1], [1, 1, 2, 1, 1, 1, 1]]

In [31]:
from IPython.core import display as ICD
import pandas as pd
sorted_vocab=sorted((value,key) for key, value in word2id.items())
print('sorted_vovab',sorted_vocab)

vocab=[]
for v in sorted_vocab:
    vocab.append(v[1])
print('vocab',vocab)

for i in range(len(docs)):
    print('문서{}:{}'.format(i,docs[i]))
    ICD.display(pd.DataFrame([BoW_ls[i]],columns=vocab))
    print('\n\n')

sorted_vovab [(0, '나는'), (1, '양념'), (2, '치킨을'), (3, '좋아해'), (4, '하지만'), (5, '후라이드'), (6, '싫어해')]
vocab ['나는', '양념', '치킨을', '좋아해', '하지만', '후라이드', '싫어해']
문서0:나는 양념 치킨을 좋아해 하지만 후라이드 치킨을 싫어해

   나는  양념  치킨을  좋아해  하지만  후라이드  싫어해
0   1   1    2    1    1     1    1

문서1:나는 후라이드 치킨을 좋아해 하지만 양념 치킨을 싫어해

   나는  양념  치킨을  좋아해  하지만  후라이드  싫어해
0   1   1    2    1    1     1    1

## sklearn

In [ ]:
docs=['나는 양념 치킨을 좋아해 하지만 후라이드 치킨을 싫어해',
     '나는 후라이드 치킨을 좋아해 하지만 양념 치킨을 싫어해']

In [33]:
!pip install sklearn

Processing c:\users\user\appdata\local\pip\cache\wheels\46\ef\c3\157e41f5ee1372d1be90b09f74f82b10e391eaacca8f22d33e\sklearn-0.0-py2.py3-none-any.whl
Collecting scikit-learn
  Using cached scikit_learn-0.23.2-cp37-cp37m-win_amd64.whl (6.8 MB)
Requirement already satisfied: numpy>=1.13.3 in c:\users\user\anaconda3\envs\jiwoo3.7\lib\site-packages (from scikit-learn->sklearn) (1.19.1)
Collecting scipy>=0.19.1
  Downloading scipy-1.5.2-cp37-cp37m-win_amd64.whl (31.2 MB)
Collecting joblib>=0.11
  Using cached joblib-0.16.0-py3-none-any.whl (300 kB)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-2.1.0-py3-none-any.whl (12 kB)
Installing collected packages: scipy, joblib, threadpoolctl, scikit-learn, sklearn
Successfully installed joblib-0.16.0 scikit-learn-0.23.2 scipy-1.5.2 sklearn-0.0 threadpoolctl-2.1.0

In [35]:
#토큰빈도계산: Countvectorizer 함수 사용->BoW 구축
from sklearn.feature_extraction.text import CountVectorizer

#선언
count_vect=CountVectorizer()
BoW=count_vect.fit_transform(docs)#표현하고자 하는 문서 transform

In [36]:
from IPython.core import display as ICD
import pandas as pd

vocab=count_vect.get_feature_names()

for i in range(len(docs)):
    print('문서{}:{}'.format(i,docs[i]))
    ICD.display(pd.DataFrame([BoW.toarray()[i]],columns=vocab))
    print('\n\n')

문서0:나는 양념 치킨을 좋아해 하지만 후라이드 치킨을 싫어해

   나는  싫어해  양념  좋아해  치킨을  하지만  후라이드
0   1    1   1    1    2    1     1

문서1:나는 후라이드 치킨을 좋아해 하지만 양념 치킨을 싫어해

   나는  싫어해  양념  좋아해  치킨을  하지만  후라이드
0   1    1   1    1    2    1     1

## gensim

In [39]:
!pip install gensim

Collecting gensim
  Downloading gensim-3.8.3-cp37-cp37m-win_amd64.whl (24.2 MB)
Collecting Cython==0.29.14
  Downloading Cython-0.29.14-cp37-cp37m-win_amd64.whl (1.7 MB)
Requirement already satisfied: six>=1.5.0 in c:\users\user\anaconda3\envs\jiwoo3.7\lib\site-packages (from gensim) (1.15.0)
Requirement already satisfied: numpy>=1.11.3 in c:\users\user\anaconda3\envs\jiwoo3.7\lib\site-packages (from gensim) (1.19.1)
Collecting smart-open>=1.8.1
  Downloading smart_open-2.1.0.tar.gz (116 kB)
Requirement already satisfied: scipy>=0.18.1 in c:\users\user\anaconda3\envs\jiwoo3.7\lib\site-packages (from gensim) (1.5.2)
Requirement already satisfied: requests in c:\users\user\anaconda3\envs\jiwoo3.7\lib\site-packages (from smart-open>=1.8.1->gensim) (2.24.0)
Collecting boto
  Downloading boto-2.49.0-py2.py3-none-any.whl (1.4 MB)
Collecting boto3
  Downloading boto3-1.14.47-py2.py3-none-any.whl (129 kB)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\user\anaconda3\envs\jiwoo3.7\lib\site-packages (from requests->smart-open>=1.8.1->gensim) (1.25.10)
Requirement already satisfied: idna<3,>=2.5 in c:\users\user\anaconda3\envs\jiwoo3.7\lib\site-packages (from requests->smart-open>=1.8.1->gensim) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\envs\jiwoo3.7\lib\site-packages (from requests->smart-open>=1.8.1->gensim) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\user\anaconda3\envs\jiwoo3.7\lib\site-packages (from requests->smart-open>=1.8.1->gensim) (3.0.4)
Collecting jmespath<1.0.0,>=0.7.1
  Downloading jmespath-0.10.0-py2.py3-none-any.whl (24 kB)
Collecting botocore<1.18.0,>=1.17.47
  Downloading botocore-1.17.47-py2.py3-none-any.whl (6.5 MB)
Collecting s3transfer<0.4.0,>=0.3.0
  Downloading s3transfer-0.3.3-py2.py3-none-any.whl (69 kB)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\user\anaconda3\envs\jiwoo3.7\lib\site-packages (from botocore<1.18.0,>=1.17.47->boto3->smart-open>=1.8.1->gensim) (2.8.1)
Collecting docutils<0.16,>=0.10
  Downloading docutils-0.15.2-py3-none-any.whl (547 kB)
Building wheels for collected packages: smart-open
  Building wheel for smart-open (setup.py): started
  Building wheel for smart-open (setup.py): finished with status 'done'
  Created wheel for smart-open: filename=smart_open-2.1.0-py3-none-any.whl size=110324 sha256=266a7049e20bdfab72c06c87f7de685621f480e73a0bbf9280a18bace0e92652
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\56\b5\6d\86dbe4f29d4688e5163a8b8c6b740494310040286fca4dc648
Successfully built smart-open
Installing collected packages: Cython, boto, jmespath, docutils, botocore, s3transfer, boto3, smart-open, gensim
Successfully installed Cython-0.29.14 boto-2.49.0 boto3-1.14.47 botocore-1.17.47 docutils-0.15.2 gensim-3.8.3 jmespath-0.10.0 s3transfer-0.3.3 smart-open-2.1.0

In [40]:
docs=['나는 양념 치킨을 좋아해 하지만 후라이드 치킨을 싫어해',
     '나는 후라이드 치킨을 좋아해 하지만 양념 치킨을 싫어해']

In [44]:
from gensim import corpora
#젠심은 토큰화를 한 상태를 넣어줘야함
doc_ls=[]
for doc in docs:
    doc_ls.append(doc.split())
    
id2word=corpora.Dictionary(doc_ls)

BoW=[]
for doc in doc_ls:
    BoW.append(id2word.doc2bow(doc))

In [56]:
from gensim.matutils import sparse2full
from IPython.core import display as ICD
import pandas as pd

vocab=[id2word[i] for i in id2word.keys()]

for i in range(len(docs)):
    print('문서{}:{}'.format(i,docs[i]))
    ICD.display(pd.DataFrame([sparse2full(BoW[0],len(vocab))])
    print('\n\n')

SyntaxError: invalid syntax (<ipython-input-56-8e90a4772a58>, line 10)

# DTM, TDM
------
- 여러가지 문장을 하나의 행렬로 표현할 수 있음
- 행과 열이 반대임

In [57]:
docs=['동물원 코끼리','동물원 원숭이 바나나','엄마 코끼리 아기 코끼리','원숭이 바나나 코끼리 바나나']

In [58]:
doc_ls=[]
for doc in docs:
    doc_ls.append(doc.split(' '))
doc_ls

[['동물원', '코끼리'],
 ['동물원', '원숭이', '바나나'],
 ['엄마', '코끼리', '아기', '코끼리'],
 ['원숭이', '바나나', '코끼리', '바나나']]

In [60]:
from collections import defaultdict

word2id=defaultdict(lambda: len(word2id))

for doc in doc_ls:
    for token in doc:
        word2id[token]

In [61]:
import numpy as np

TDM=np.zeros((len(word2id),len(doc_ls)),dtype=int)

for i,doc in enumerate(doc_ls):
    for token in doc:
        TDM[word2id[token],i]+=1
        #해당 토큰의 위치
#행렬로 표기(BOW와 차이점: BOW는 1차원 배열)
        
TDM

array([[1, 1, 0, 0],
       [1, 0, 2, 1],
       [0, 1, 0, 1],
       [0, 1, 0, 2],
       [0, 0, 1, 0],
       [0, 0, 1, 0]])

In [63]:
import pandas as pd

doc_names=['문서'+str(i) for i in range(len(doc_ls))]
print('doc names',doc_names)

sorted_vocab=sorted((value,key) for key, value in word2id.items())
vocab=[v[1] for v in sorted_vocab]
df_TDM=pd.DataFrame(TDM, columns=doc_names)
df_TDM['단어']=vocab
df_TDM.set_index('단어')

doc names ['문서0', '문서1', '문서2', '문서3']

     문서0  문서1  문서2  문서3
단어
동물원    1    1    0    0
코끼리    1    0    2    1
원숭이    0    1    0    1
바나나    0    1    0    2
엄마     0    0    1    0
아기     0    0    1    0

## sklearn

In [64]:
docs=['동물원 코끼리','동물원 원숭이 바나나','엄마 코끼리 아기 코끼리','원숭이 바나나 코끼리 바나나']

In [65]:
from sklearn.feature_extraction.text import CountVectorizer
#sklearn은 DTM으로 만들어지게 설정되어 있음.
count_vect=CountVectorizer()
DTM=count_vect.fit_transform(docs)
DTM.toarray()

array([[1, 0, 0, 0, 0, 1],
       [1, 1, 0, 0, 1, 0],
       [0, 0, 1, 1, 0, 2],
       [0, 2, 0, 0, 1, 1]], dtype=int64)

In [68]:
DTM.toarray().T #transpose 시키라는 것

array([[1, 1, 0, 0],
       [0, 1, 0, 2],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 1],
       [1, 0, 2, 1]], dtype=int64)

In [67]:
import pandas as pd

doc_names=['문서'+str(i) for i in range(len(doc_ls))]
print('doc names',doc_names)

sorted_vocab=sorted((value,key) for key, value in word2id.items())
vocab=[v[1] for v in sorted_vocab]
df_TDM=pd.DataFrame(TDM, columns=doc_names)
df_TDM['단어']=vocab
df_TDM.set_index('단어')

doc names ['문서0', '문서1', '문서2', '문서3']

     문서0  문서1  문서2  문서3
단어
동물원    1    1    0    0
코끼리    1    0    2    1
원숭이    0    1    0    1
바나나    0    1    0    2
엄마     0    0    1    0
아기     0    0    1    0

## gensim

In [69]:
docs=['동물원 코끼리','동물원 원숭이 바나나','엄마 코끼리 아기 코끼리','원숭이 바나나 코끼리 바나나']

In [70]:
import gensim
from gensim import corpora

doc_ls=[doc.split() for doc in docs]
id2word=corpora.Dictionary(doc_ls)

TDM=[id2word.doc2bow(doc) for doc in doc_ls]
TDM

#(01),(11) 0번째 인덱스, 1번째 인덱스에 (1,1)을 넣고 나머지는 0

[[(0, 1), (1, 1)],
 [(0, 1), (2, 1), (3, 1)],
 [(1, 2), (4, 1), (5, 1)],
 [(1, 1), (2, 2), (3, 1)]]

In [72]:
from gensim.matutils import sparse2full
import pandas as pd
import numpy as np

#문서 이름 만들기
doc_names=['문서'+str(i) for i in range(len(doc_ls))]
#문서에 나온 단어 만들기
vocab=[id2word[i] for i in id2word.keys()]
#행렬 형태로 표현하기
DTM_matrix=[sparse2full(doc,len(vocab)).tolist() for doc in TDM]
#데이터프레임으로 표현하기
df_TDM=pd.DataFrame(np.array(DTM_matrix,dtype=int).T,
                    columns=doc_names )
df_TDM['단어']=vocab
df_TDM.set_index('단어')

     문서0  문서1  문서2  문서3
단어
동물원    1    1    0    0
코끼리    1    0    2    1
바나나    0    1    0    2
원숭이    0    1    0    1
아기     0    0    1    0
엄마     0    0    1    0

# TF-IDF
----
- 단어의 빈도수*역 문서 빈도 = 단어의 상대적 중요도 반영

In [74]:
doc_ls=[]
for doc in docs:
    doc_ls.append(doc.split())
doc_ls

[['오늘', '동물원에서', '원숭이와', '코끼리를', '봤어'],
 ['동물원에서', '원숭이에게', '바나나를', '줬어', '바나나를']]

In [130]:
from collections import defaultdict

word2id=defaultdict(lambda:len(word2id))

for doc in doc_ls:
    for token in doc:
        word2id[token]
        
word2id

defaultdict(<function __main__.<lambda>()>,
            {'오늘': 0,
             '동물원에서': 1,
             '원숭이와': 2,
             '코끼리를': 3,
             '봤어': 4,
             '원숭이에게': 5,
             '바나나를': 6,
             '줬어': 7})

In [131]:
import numpy as np
TDM=np.zeros((len(doc_ls),len(word2id)),dtype=int)
print(TDM)
for i, doc in enumerate(doc_ls):
    for token in doc:
        TDM[i,word2id[token]]+=1#해당 토큰의 위치
TDM

[[0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0]]

array([[1, 1, 1, 1, 1, 0, 0, 0],
       [0, 1, 0, 0, 0, 1, 2, 1]])

In [133]:
TDM[0].sum()

5

In [134]:
#tf 계산
def computeTF(TDM):
    doc_len=len(TDM) #문서의 개수 2개
    word_len=len(TDM[0]) #토큰의 개수 8개
    
    tf=np.zeros((doc_len,word_len))
    print(tf)
    
    for doc_i in range(doc_len):
        for word_i in range(word_len):
            tf[doc_i, word_i]=TDM[doc_i, word_i]/TDM[doc_i].sum()
    return tf

In [135]:
computeTF(TDM)

[[0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]]

array([[0.2, 0.2, 0.2, 0.2, 0.2, 0. , 0. , 0. ],
       [0. , 0.2, 0. , 0. , 0. , 0.2, 0.4, 0.2]])

In [141]:
import math
#idf 계산: log(총문서수/단어가등장한문서수)
def computeIDF(TDM):
    doc_len=len(TDM) #문서의 개수 2개
    word_len=len(TDM[0]) #토큰의 개수 8개
    
    idf=np.zeros(word_len)
    
    for i in range(word_len):
        idf[i]=math.log10(doc_len/np.count_nonzero(TDM[:,i]))
    return idf

In [142]:
computeIDF(TDM)

array([0.30103, 0.     , 0.30103, 0.30103, 0.30103, 0.30103, 0.30103,
       0.30103])

In [143]:
def computeTFIDF(TDM):
    tf=computeTF(TDM)
    idf=computeIDF(TDM)
    tfidf=np.zeros(tf.shape)
    
    for doc_i in range(tf.shape[0]):
        for word_i in range(tf.shape[1]):
            tfidf[doc_i, word_i]=tf[doc_i, word_i]+idf[word_i]
            
    return tfidf

In [144]:
computeTFIDF(TDM)

[[0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]]

array([[0.50103, 0.2    , 0.50103, 0.50103, 0.50103, 0.30103, 0.30103,
        0.30103],
       [0.30103, 0.2    , 0.30103, 0.30103, 0.30103, 0.50103, 0.70103,
        0.50103]])

## sklearn

In [146]:
docs=['오늘 동물원에서 원숭이와 코끼리를 봤어',
      '동물원에서 원숭이에게 바나나를 줬어 바나나를']
from sklearn.feature_extraction.text import CountVectorizer

tfidv=TfidfVectorizer()
tfidv=tfidv.fit(docs)
tfidv.transform(docs).toarray()#tfdiv.fit_transform 한줄로 쓸수있음
vocab=tfidv.get_feature_names()

In [147]:
import pandas as pd
df=pd.DataFrame(tfidv.transform(docs).toarray(),columns=vocab)
df

,동물원에서,바나나를,봤어,오늘,원숭이에게,원숭이와,줬어,코끼리를
0,0.335176,0.000000,0.471078,0.471078,0.000000,0.471078,0.000000,0.471078
1,0.278943,0.784088,0.000000,0.000000,0.392044,0.000000,0.392044,0.000000

## gensim

In [150]:
import gensim
from gensim import corpora
from gensim.models import TfidfModel

doc_ls=[doc.split() for doc in docs]
id2word=corpora.Dictionary(doc_ls)
TDM=[id2word.doc2bow(doc) for doc in doc_ls]
model=TfidfModel(TDM)
tfidf=model[TDM]
tfidf[0]

[(1, 0.5), (2, 0.5), (3, 0.5), (4, 0.5)]

In [152]:
doc_ls[0]

['오늘', '동물원에서', '원숭이와', '코끼리를', '봤어']

In [157]:
import pandas as pd
from gensim.matutils import sparse2full

vocab=[id2word[i] for i in id2word.keys()]
TDM_matrix=[sparse2full(doc,len(vocab)).tolist() for doc in tfidf]
pd.DataFrame(TDM_matrix, columns=vocab)

   동물원에서   봤어   오늘  원숭이와  코끼리를      바나나를     원숭이에게        줬어
0    0.0  0.5  0.5   0.5   0.5  0.000000  0.000000  0.000000
1    0.0  0.0  0.0   0.0   0.0  0.816497  0.408248  0.408248

## 파이썬으로 내가 한것. 값이 이상함

In [120]:
docs=['오늘 동물원에서 원숭이와 코끼리를 봤어',
      '동물원에서 원숭이에게 바나나를 줬어 바나나를']
vocab = list(set(w for doc in docs for w in doc.split()))
vocab.sort()

In [121]:
vocab

['동물원에서', '바나나를', '봤어', '오늘', '원숭이에게', '원숭이와', '줬어', '코끼리를']

In [136]:
import math
N = len(docs) # 총 문서의 수

def tf(t, d):
    return d.count(t)

def idf(t):
    df = 0
    for doc in docs:
        df += t in doc
    return math.log10(N/(df + 1))

def tfidf(t, d):
    return tf(t,d)* idf(t)

In [137]:
result=[]
for i in range(N):
    result.append([])
    d=docs[i]
    for j in range(len(vocab)):
        t=vocab[j]
        result[-1].append(tf(t,d))
        
tf_=pd.DataFrame(result,columns=vocab)
tf_

   동물원에서  바나나를  봤어  오늘  원숭이에게  원숭이와  줬어  코끼리를
0      1     0   1   1      0     1   0     1
1      1     2   0   0      1     0   1     0

In [138]:

result = []
for j in range(len(vocab)):
    t = vocab[j]
    result.append(idf(t))

idf_ = pd.DataFrame(result, index = vocab, columns = ["IDF"])
idf_

            IDF
동물원에서 -0.176091
바나나를   0.000000
봤어     0.000000
오늘     0.000000
원숭이에게  0.000000
원숭이와   0.000000
줬어     0.000000
코끼리를   0.000000

In [139]:
result = []
for i in range(N):
    result.append([])
    d = docs[i]
    for j in range(len(vocab)):
        t = vocab[j]

        result[-1].append(tfidf(t,d))

tfidf_ = pd.DataFrame(result, columns = vocab)
tfidf_

      동물원에서  바나나를   봤어   오늘  원숭이에게  원숭이와   줬어  코끼리를
0 -0.176091   0.0  0.0  0.0    0.0   0.0  0.0   0.0
1 -0.176091   0.0  0.0  0.0    0.0   0.0  0.0   0.0

## sklearn DTM 이용해서 한것

In [112]:
from sklearn.feature_extraction.text import CountVectorizer
corpus = ['오늘 동물원에서 원숭이와 코끼리를 봤어',
      '동물원에서 원숭이에게 바나나를 줬어 바나나를']
vector = CountVectorizer()
print(vector.fit_transform(corpus).toarray()) # 코퍼스로부터 각 단어의 빈도 수를 기록한다.
print(vector.vocabulary_) # 각 단어의 인덱스가 어떻게 부여되었는지를 보여준다.

[[1 0 1 1 0 1 0 1]
 [1 2 0 0 1 0 1 0]]
{'오늘': 3, '동물원에서': 0, '원숭이와': 5, '코끼리를': 7, '봤어': 2, '원숭이에게': 4, '바나나를': 1, '줬어': 6}

In [116]:
from sklearn.feature_extraction.text import TfidfVectorizer
corpus = ['오늘 동물원에서 원숭이와 코끼리를 봤어',
      '동물원에서 원숭이에게 바나나를 줬어 바나나를']
tfidfv = TfidfVectorizer().fit(corpus)
print(tfidfv.transform(corpus).toarray())
print(tfidfv.vocabulary_)

[[0.33517574 0.         0.47107781 0.47107781 0.         0.47107781
  0.         0.47107781]
 [0.27894255 0.78408803 0.         0.         0.39204401 0.
  0.39204401 0.        ]]
{'오늘': 3, '동물원에서': 0, '원숭이와': 5, '코끼리를': 7, '봤어': 2, '원숭이에게': 4, '바나나를': 1, '줬어': 6}

In [91]:
from sklearn.feature_extraction.text import CountVectorizer
#sklearn은 DTM으로 만들어지게 설정되어 있음.
count_vect=CountVectorizer()
DTM=count_vect.fit_transform(docs)
DTM.toarray()

array([[1, 0, 1, 1, 0, 1, 0, 1],
       [1, 2, 0, 0, 1, 0, 1, 0]], dtype=int64)

In [101]:
print(DTM)

  (0, 3)	1
  (0, 0)	1
  (0, 5)	1
  (0, 7)	1
  (0, 2)	1
  (1, 0)	1
  (1, 4)	1
  (1, 1)	2
  (1, 6)	1

In [92]:
import pandas as pd

doc_names=['문서'+str(i) for i in range(len(doc_ls))]
print('doc names',doc_names)

sorted_vocab=sorted((value,key) for key, value in word2id.items())
vocab=[v[1] for v in sorted_vocab]
df_TDM=pd.DataFrame(TDM, columns=doc_names)
df_TDM['단어']=vocab
df_TDM.set_index('단어')

doc names ['문서0', '문서1']

       문서0  문서1
단어
오늘       1    0
동물원에서    1    1
원숭이와     1    0
코끼리를     1    0
봤어       1    0
원숭이에게    0    1
바나나를     0    2
줬어       0    1