## 연습문제3

사용자로부터 정수를 입력받아, 입력된 정수 만큼 별 찍기(역순)

In [1]:
a=int(input("정수를 입력해주세요:"))

for i in range(a+1):
     print("*"*(a-i))

정수를 입력해주세요:5
*****
****
***
**
*

# for문 중첩

In [2]:
for i in range(5):
    print("i: ",i)
    for j in range(5):
        print("i*j: ",i*j)
    print("-"*10)

i:  0
i*j:  0
i*j:  0
i*j:  0
i*j:  0
i*j:  0
----------
i:  1
i*j:  0
i*j:  1
i*j:  2
i*j:  3
i*j:  4
----------
i:  2
i*j:  0
i*j:  2
i*j:  4
i*j:  6
i*j:  8
----------
i:  3
i*j:  0
i*j:  3
i*j:  6
i*j:  9
i*j:  12
----------
i:  4
i*j:  0
i*j:  4
i*j:  8
i*j:  12
i*j:  16
----------

In [3]:
l1=['a','b','c','d']
for i in enumerate(l1):
    print(i)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [4]:
a,b=(10,20)
print(a)
print(b)

10
20

In [5]:
l1=['a','b','c','d']

for idx, value in enumerate(l1): #언팩돼서 출력
    print(idx, value)

0 a
1 b
2 c
3 d

In [6]:
for idx, value in enumerate(l1):
    if idx>=2:
        l1[idx]=0
        
l1

['a', 'b', 0, 0]

## 연습문제1

(1)  x = [3, 6, 9, 20, -7, 5] 의 값의 모든 요소에 10을 곱한뒤 출력하세요

In [7]:
x = [3, 6, 9, 20, -7, 5]

for i in (x):
    print(i*10)

30
60
90
200
-70
50

심화 : 출력과 리스트 x 의 값에도 모두 10을 곱해주세요

In [12]:
x = [3, 6, 9, 20, -7, 5]

for idx, value in enumerate(x):
    x[idx]=value*10
    
x

[30, 60, 90, 200, -70, 50]

(2)  y = {“math”: 70, “science”: 80, “english”: 20} 의 값의 모든 요소에 10을 더한뒤 출력하세요

In [58]:
y = {
    "math": 70, 
    "science": 80, 
    "english": 20}
    
#for value in (y.values()):
#    print(value+10)

for i in y:
    print(i, y[i]+10)

math 80
science 90
english 30

심화 : 출력과 딕셔너리 y 의 값에도 모두 10을 더해주세요

In [60]:
y = {
    "math": 70, 
    "science": 80, 
    "english": 20}

for key in y:
    y[key]=y[key]+10
    
y

{'math': 80, 'science': 90, 'english': 30}

(3) 숫자를 입력받고 입력받은 정수의 구구단을 출력하세요

In [10]:
num=int(input("정수를 입력해주세요:"))

for i in range(1,10):
    print("%d * %d = %d" %(num,i,num*i))

정수를 입력해주세요:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

## 연습문제3
(1) word = [“school”, “game”, “piano”, “science”, “hotel”, “mountian”] 중 글자수가 6글자 이상인 문자를 모아 새로운 리스트를 생성하세요

In [62]:
word = ['school', 'game', 'piano', 'science', 'hotel', 'mountian']

nlist=[]

for i in word:
    if len(i)>=6:
        nlist.append(i)
        
nlist

['school', 'science', 'mountian']

(2) 구구단을 1단부터 9단까지 출력하세요

In [1]:
for i in range(1,10):
    print("-----------")
    for j in range(1,10):
        print("%d * %d = %d"%(i,j,i*j))

-----------
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
-----------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
-----------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
-----------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
-----------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
-----------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
-----------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
-----------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
-----------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

## 연습문제 4
1-100 까지 숫자중
3과 5의 공배수일경우 “3과 5의 공배수”
나머지 숫자중 3의배수일경우 “3의배수”
나머지 숫자중 5의배수일경우 “5의배수”
모두 해당되지 않을경우 그냥숫자
를 출력하세요

In [67]:
for i in range(1,101):
    if i%3==0 and i%5==0:
        print("%d, 3과 5의 공배수"%i)
    else: #elif로 가능
        if i%3==0:
            print("%d, 3의 배수"%i)
        else:
            if i%5==0:
                print("%d, 5의 배수"%i)
            else:
                print(i)

1
2
3, 3의 배수
4
5, 5의 배수
6, 3의 배수
7
8
9, 3의 배수
10, 5의 배수
11
12, 3의 배수
13
14
15, 3과 5의 공배수
16
17
18, 3의 배수
19
20, 5의 배수
21, 3의 배수
22
23
24, 3의 배수
25, 5의 배수
26
27, 3의 배수
28
29
30, 3과 5의 공배수
31
32
33, 3의 배수
34
35, 5의 배수
36, 3의 배수
37
38
39, 3의 배수
40, 5의 배수
41
42, 3의 배수
43
44
45, 3과 5의 공배수
46
47
48, 3의 배수
49
50, 5의 배수
51, 3의 배수
52
53
54, 3의 배수
55, 5의 배수
56
57, 3의 배수
58
59
60, 3과 5의 공배수
61
62
63, 3의 배수
64
65, 5의 배수
66, 3의 배수
67
68
69, 3의 배수
70, 5의 배수
71
72, 3의 배수
73
74
75, 3과 5의 공배수
76
77
78, 3의 배수
79
80, 5의 배수
81, 3의 배수
82
83
84, 3의 배수
85, 5의 배수
86
87, 3의 배수
88
89
90, 3과 5의 공배수
91
92
93, 3의 배수
94
95, 5의 배수
96, 3의 배수
97
98
99, 3의 배수
100, 5의 배수

심화 : 1-입력한숫자까지의 숫자중

In [68]:
num=int(input("정수를 입력하세요:"))

for i in range(1,num+1):
    if i%3==0 and i%5==0:
        print("%d, 3과 5의 공배수"%i)
    else:
        if i%3==0:
            print("%d, 3의 배수"%i)
        else:
            if i%5==0:
                print("%d, 5의 배수"%i)
            else:
                print(i)

정수를 입력하세요:10
1
2
3, 3의 배수
4
5, 5의 배수
6, 3의 배수
7
8
9, 3의 배수
10, 5의 배수

# while문

In [2]:
i=0
while i<5:
    print("i:",i)
    i +=1

i: 0
i: 1
i: 2
i: 3
i: 4

In [4]:
i=input("s가 입력되면 멈춥니다.")
while i.upper()!='S':
    print("프로세스 동작중")
    i=input("s가 입력되면 멈춥니다.")

s가 입력되면 멈춥니다.5
프로세스 동작중
s가 입력되면 멈춥니다.s

## 연습문제 5
사용자로부터 숫자를 계속 입력받다가
s or S 를 입력하면 합계출력

In [31]:
num=input("값을 입력해주세요:")
nlist=[]

while num.upper()!='S':
    nlist.append(int(num))
    num=input("값을 입력해주세요:")
    print(nlist)
    
print("합은? %d"%sum(nlist))

값을 입력해주세요:5
값을 입력해주세요:6
[5]
값을 입력해주세요:s
[5, 6]
합은? 11

In [32]:
num=input("값을 입력해주세요:")
result=0

while num.lower()!='s':
    result+=int(num)
    num=input("값을 입력해주세요:")
result

값을 입력해주세요:5
값을 입력해주세요:6
값을 입력해주세요:s

11

## 연습문제 6
가위(1), 바위(2), 보(3) 을 입력해주세요! : 3
유저 : 보, 컴퓨터 : 보
가위(1), 바위(2), 보(3) 을 입력해주세요! : 2
유저 : 바위, 컴퓨터 : 보
가위(1), 바위(2), 보(3) 을 입력해주세요! : 1
유저 : 가위, 컴퓨터 : 보
가위(1), 바위(2), 보(3) 을 입력해주세요! : 4

게임종료 (전체:3 ,승리:1)

1~3 을 입력하면 게임진행 이외의 숫자를 입력하면 게임종료
심화 : 비긴숫자도 출력하세요 (전체:3, 승리:1, 비김:1)

In [16]:
import random

choice=int(input("가위(1) 바위(2) 보(3) 선택해주세요:"))
computer=random.randint(1,3)

game={1:"가위",2:"바위",3:"보"}

play=0
win=0
same=0

while choice in [1,2,3]:
    if choice==1:
        if computer==1:
            print("비김")
            play+=1
            same+=1
        elif computer==2:
            print("컴퓨터 승")
            play+=1
        elif computer==3:
            print("플레이어 승")
            play+=1
            win+=1
        print("플레이어:%s, 컴퓨터:%s"%(game[choice],game[computer]))
    elif choice==2:
        if computer==1:
            print("플레이어 승")
            play+=1
            win+=1
        elif computer==2:
            print("비김")
            play+=1
            same+=1
        elif computer==3:
            print("컴퓨터 승")
            play+=1
        print("플레이어:%s, 컴퓨터:%s"%(game[choice],game[computer]))
    elif choice==3:
        if computer==1:
            print("플레이어 승")
            play+=1
            win+=1
        elif computer==3:
            print("비김")
            play+=1
            same+=1
        elif computer==2:
            print("플레이어 승")
            play+=1
            win+=1
        print("플레이어:%s, 컴퓨터:%s"%(game[choice],game[computer]))

    print("전체:%d, 승리:%d, 비김:%d"%(play, win, same))
    choice=int(input("가위(1) 바위(2) 보(3) 선택해주세요:"))

가위(1) 바위(2) 보(3) 선택해주세요:1
컴퓨터 승
플레이어:가위, 컴퓨터:바위
전체:1, 승리:0, 비김:0
가위(1) 바위(2) 보(3) 선택해주세요:2
비김
플레이어:바위, 컴퓨터:바위
전체:2, 승리:0, 비김:1
가위(1) 바위(2) 보(3) 선택해주세요:5

In [18]:
choice=int(input("가위(1) 바위(2) 보(3) 선택해주세요:"))
computer=random.randint(1,3)

game={1:"가위",2:"바위",3:"보"}

play=0
win=0
same=0

while choice in [1,2,3]:
    if (choice-computer==1) or (choice-computer==-2):
        play+=1
        win+=1   
        print("플레이어:%s, 컴퓨터:%s"%(game[choice],game[computer]))
    elif choice==computer:
        play+=1
        same+=1
        print("플레이어:%s, 컴퓨터:%s"%(game[choice],game[computer]))
    else:
        play+=1
        print("플레이어:%s, 컴퓨터:%s"%(game[choice],game[computer]))
    
    print("전체:%d, 승리:%d, 비김:%d"%(play, win, same))
    choice=int(input("가위(1) 바위(2) 보(3) 선택해주세요:"))

가위(1) 바위(2) 보(3) 선택해주세요:1
플레이어:가위, 컴퓨터:바위
전체:1, 승리:0, 비김:0
가위(1) 바위(2) 보(3) 선택해주세요:2
플레이어:바위, 컴퓨터:바위
전체:2, 승리:0, 비김:1
가위(1) 바위(2) 보(3) 선택해주세요:5

# break, continue

In [19]:
for i in range(5):
    if i==3:
        break
    print(i)

0
1
2

In [20]:
for i in range(5):
    if i==3:
        continue
    print(i)

0
1
2
4

In [21]:
for i in range(10):
    if 5<i<=8:
        continue
    print(i)

0
1
2
3
4
5
9

In [22]:
while True:
    print("Hello")
    num=input("s입력시 멈춥니다.")
    if num.lower()=='s':
        break

Hello
s입력시 멈춥니다.1
Hello
s입력시 멈춥니다.s

## 연습문제 11
(1) while 문과 break 문을 사용하여 사용자가 입력한 숫자만큼 반복하여 ‘hi’ 출력하기

In [23]:
num=int(input("정수를 입력하세요:"))
count=0

while True:
    count+=1
    print("hi")
    if count==num:
        break

정수를 입력하세요:5
hi
hi
hi
hi
hi

(2) for 문과 continue 문을 사용하여 사용자가 입력한 숫자까지의 짝수를 출력하기

In [27]:
num=int(input("정수를 입력하세요:"))

for i in range(1,num+1):
    if i%2!=0:
        continue
    else:
        print(i)

정수를 입력하세요:6
2
4
6

# 리스트 응용

## 연습문제 7
randint함수를 사용하여 정수(1~1000)로 이루어진 길이가 100개인 리스트 a를 만들고 
가장 큰 수를 구하는 코드를 작성하시오.

예) a=[32, 45, 2, 5, 76] 일때, 출력결과는 76이 나와야 함.

In [45]:
nlist=[]

for i in range(100):
    nlist.append(random.randint(1,1000))

max=nlist[0]

for j in range(1,100):
    if max<nlist[j]:
        max=nlist[j]
print(max)
        
print(nlist)

985
[866, 69, 776, 173, 971, 249, 619, 546, 28, 422, 309, 694, 62, 963, 235, 650, 697, 119, 113, 288, 305, 905, 509, 215, 985, 605, 576, 324, 394, 36, 985, 629, 943, 422, 573, 710, 407, 878, 946, 916, 603, 745, 349, 52, 866, 368, 659, 554, 720, 528, 200, 713, 521, 448, 95, 718, 378, 673, 383, 616, 540, 942, 548, 791, 480, 451, 326, 750, 919, 198, 623, 967, 622, 331, 615, 807, 171, 53, 862, 592, 74, 833, 832, 482, 922, 99, 190, 43, 539, 767, 446, 30, 864, 108, 91, 636, 55, 609, 784, 315]

## 연습문제 8
randint함수를 사용하여 정수(1~1000)로 이루어진 길이가 100개인 리스트 a를 만들고 
리스트의 모든 요소의 합계를 구하는 코드를 작성하시오.

예) a=[32, 45, 2, 5, 76] 일때, 출력결과는 160이 나와야 함.

In [37]:
nlist=[]

for i in range(100):
    nlist.append(random.randint(1,1000))
print(nlist)
sum(nlist)

[895, 341, 555, 568, 29, 928, 21, 91, 287, 869, 601, 970, 407, 586, 829, 773, 989, 722, 664, 678, 695, 915, 413, 391, 622, 218, 398, 273, 442, 9, 337, 440, 979, 800, 421, 819, 962, 537, 510, 67, 876, 639, 378, 585, 264, 204, 399, 812, 988, 409, 344, 900, 554, 489, 813, 236, 809, 293, 558, 831, 247, 440, 104, 398, 16, 304, 141, 834, 138, 870, 326, 939, 912, 848, 643, 757, 550, 281, 544, 224, 82, 799, 349, 319, 634, 679, 839, 920, 94, 367, 205, 75, 657, 846, 797, 493, 836, 737, 733, 609]

54018

# 리스트 컴프리핸션

In [46]:
list(range(1,5))

[1, 2, 3, 4]

In [47]:
list(range(10,50,10))

[10, 20, 30, 40]

In [49]:
n_list=[]
for i in range(1,5):
    n_list.append(i*10)
n_list

[10, 20, 30, 40]

In [52]:
#리스트컴프리핸션
n_list=[i*10+7.5 for i in range(1,5)]
n_list

[17.5, 27.5, 37.5, 47.5]

In [55]:
#1부터 100까지의 숫자중에서, 3의 배수만 모아서 새로운 리스트를 만드시오

n_list=[i for i in range(1,101) if i%3==0]
print(n_list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [56]:
n_list=[i*j for i in range(1,10) for j in range(1,10)]
print(n_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [62]:
keys=['city','name','height']
value=['Seoul','양지우',166]

n_dict={keys[i]:value[i] for i in range(len(keys))}
n_dict

{'city': 'Seoul', 'name': '양지우', 'height': 166}

# Zip

In [58]:
for i in range(len(keys)):
    k=keys[i]
    v=value[i]
    print(k,v)

city Seoul
name 양지우
height 166

In [60]:
list(zip(keys, value)) #튜플형태 리스트

[('city', 'Seoul'), ('name', '양지우'), ('height', 166)]

In [64]:
dict(zip(keys,value))

{'city': 'Seoul', 'name': '양지우', 'height': 166}

In [63]:
for k, v in zip(keys, value):
    print(k,v)

city Seoul
name 양지우
height 166

## 연습문제 9
(1) word = [“school”, “game”, “piano”, “science”, “hotel”, “mountn”] 중 글자수가 6글자 이상인 문자를 모아 새로운 리스트를 생성하세요
(리스트 컴프리핸션을 사용해주세요)

In [72]:
word = ['school', 'game', 'piano', 'science', 'hotel', 'mountain'] 
n_list=[i for i in (word) if len(i)>=6]
n_list

['school', 'science', 'mountain']

(2) word = [“school”, “game”, “piano”, “science”, “hotel”, “mountian”] 리스트의 글자수가 들어가있는 새로운 리스트를 생성하세요
(리스트 컴프리핸션을 사용해주세요)

In [73]:
word = ['school', 'game', 'piano', 'science', 'hotel', 'mountain']
n_list=[len(i) for i in (word)]
n_list

[6, 4, 5, 7, 5, 8]

## 연습문제 10
(1) 아래 두 리스트를 각 요소들을 곱해 새로운 리스트 C 를 만드세요
a = [[10, 20], [30, 40], [50, 60]]
b = [[2, 3], [4, 5], [6, 7]]

In [75]:
a = [[10, 20], [30, 40], [50, 60]]
b = [[2, 3], [4, 5], [6, 7]]

n_list1=[]
n_list2=[]
c=[]

for x,y in a:
    n_list1.append(x)
    n_list1.append(y)
    
for z,w in b:
    n_list2.append(z)
    n_list2.append(w)
    
for i in range(len(n_list)):
    c.append(n_list1[i]*n_list2[i])
c

[20, 60, 120, 200, 300, 420]

In [134]:
a = [[10, 20], [30, 40], [50, 60]]
b = [[2, 3], [4, 5], [6, 7]]

n_list=[]

for i in range(len(a)):
    in_list=[]
    for j in range(len(a[i])):
        in_list.append(a[i][j]*b[i][j])
    n_list.append(in_list)
n_list

[[20, 60], [120, 200], [300, 420]]

In [138]:
for v1,v2 in zip(a,b):
    print(v1,v2)
    break
    
n_list=[]
for [a1,a2], [b1,b2] in zip(a,b):
    n_list.append([a1*b1,a2*b2])
n_list

[10, 20] [2, 3]

[[20, 60], [120, 200], [300, 420]]

## 연습문제 11
(1) 아래의 학습코드를 가지고 a 리스트가 [[1,2],[3,4],[5,6]] 와 같이 만들어지도록 수정하세요
>>> a = []
>>> for i in range(3):
>>>     line = []
>>>     for j in range(2):
>>>        line.append(0)
>>>     a.append(line)
>>> print(a)

In [131]:
a = []
for i in range(3):
    line = [] 

    for j in range(2):
        j+=1
        for k in range(3):
            k+=1
        line.append(j)
        
        
    a.append(line)
    
print(a)

[[3, 3], [3, 3], [3, 3]]