# 제목 1

## 제목 2

##### 제목 5


마크다운 a+m

In [1]:
print("hello world")

hello world

In [2]:
print("A")

A

In [3]:
value=input("값을 입력하세요:")

값을 입력하세요:10

In [4]:
value

'10'

In [5]:
x,y,z=10,20,30
x

10

# 1. 정수형

In [6]:
type(10)

int

아래와 같이 a = 7, b = 3.0 로 초기화 하고
a를 b로 나누었을 때 몫과 나머지를 각각 c와 d 라는 변수에 초기화한 후 출력하라.
그리고 e라는 변수에 a의 b제곱을 초기화하고 출력하라.

In [21]:
a=7
b=3.0

c=a//b
d=a%b
e=a**b

c,d,e

(2.0, 1.0, 343.0)

In [17]:
type(a), type(b)

(int, float)

In [19]:
c=int(b)
type(c)

int

In [20]:
c

3

In [22]:
d=float(a)
type(d)
print(d)

7.0

반 평균을 구하시오.
단 변수를 사용하여 계산하고,
 변수의 이름을 학생의 이름으로 하십시요.
- 반드시 정수로 출력하십시요.

In [23]:
mike=80
judy=75
sera=100

avg=(mike+judy+sera)/3
int(avg)

85

# 2. Bool

In [25]:
a=True
b=False

In [26]:
type(a)

bool

## 비교연산자

In [27]:
a,b=1,2

In [30]:
print(a>b)
print(a<b)
print(a>=b)
print(a==b)
print(a!=b)

False
True
False
False
True

In [32]:
print(True and True)
print(True and False)
print(False and False)

True
False
False

In [34]:
print(True or True)
print(True or False)
print(False or False)

True
True
False

In [35]:
a=10
print(a>10 or a==10)

True

In [36]:
not a>10

True

사용자로부터 점수를 3개 입력받아
모든 점수가 65점보다 클 경우 True 아닐경우 False
를 출력하세요

In [41]:
a=int(input("점수1:"))
b=int(input("점수2:"))
c=int(input("점수3:"))

a>65 and b>65 and c>65

점수1:60
점수2:80
점수3:40

False

## None Type

In [42]:
a=None
a

In [43]:
print(a)

None

# 문자열 자료형

In [44]:
quote1="안녕하세요"
print(quote1)
type(quote1)

안녕하세요

str

In [45]:
quote2='안녕하세요'
quote2

'안녕하세요'

In [47]:
quote1='''안녕하세요.
반갑습니다.'''
print(quote1)

안녕하세요.
반갑습니다.

### 연산자

In [48]:
a="사과"
b="과일"

In [49]:
a+b

'사과과일'

In [50]:
a*3

'사과사과사과'

### Escape code

In [52]:
print(quote1)

안녕하세요.
반갑습니다.

In [53]:
quote1

'안녕하세요.\n반갑습니다.'

In [55]:
quote='안녕하세요.\n반갑습니다.'
print(quote)

안녕하세요.
반갑습니다.

In [57]:
quote2="\"안녕하세요.\"반갑습니다"
print(quote2)

"안녕하세요."반갑습니다

In [58]:
quote3='"안녕하세요."반갑습니다'
print(quote3)

"안녕하세요."반갑습니다

### indexing, slicing

In [59]:
quote[0]

'안'

In [60]:
quote[-1]

'.'

In [61]:
quote[0:6]

'안녕하세요.'

In [62]:
quote[5:]

'.\n반갑습니다.'

In [63]:
quote[::2]

'안하요\n갑니.'

In [66]:
quote[::-1]

'.다니습갑반\n.요세하녕안'

a="20190505chicken19000"는 잘못 쓰여진 변수이다.
2019는 year이라는 변수에, 그 다음 0505를 day라는 변수에,
chicken을 menu라는 변수에, 19000을 money라는 변수에 
인덱싱을 사용하여 각각 저장하고 출력하시오.

In [74]:
a="20190505chicken19000"

year=a[:4]
day=a[4:8]
menu=a[8:15]
money=a[15:]

print(year)
print(day)
print(menu)
print(money)

2019
0505
chicken
19000